body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eee;
}

.controls {
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

.game-container {
    display: flex;
    align-items: center; /* Center vertically */
}


canvas {
    border: 1px solid black;
    width: 750px;  /* 50% increase */
    height: 750px;  /* 50% increase */
    z-index: 0;
}

#poppy-image {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    max-height: 80vh;  /* Limiting the height to avoid stretching the screen */
    margin-right: 20px;
}
